appdirs==1.4.4
blinker==1.9.0
Brotli==1.1.0
certifi==2025.7.14
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
Flask==3.1.1
Flask-Compress==1.18
Flask-JSON==0.4.0
flask-marshmallow==1.3.0
Flask-Minify==0.50
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
htmlmin==0.1.12
htmlminf==0.1.13
humanize==4.12.3
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.8.2
MarkupSafe==3.0.2
marshmallow==4.0.0
marshmallow-sqlalchemy==1.4.2
numpy==2.3.3
packaging==25.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2019.3
PyYAML==6.0.2
pyzstd==0.17.0
requests==2.32.4
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.41
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
xlrd==2.0.2
xxhash==3.5.0
zipp==3.23.0
